<%= form_for [topic] do |f| %>
  <div class="form-inline topic-input">
    <%= f.text_field :title, class: 'form-control', placeholder: "Enter new topic" %>
    <%= f.submit "Save", class: 'btn btn-success submit' %>
  </div>
<% end %>
